* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header{
    height: 90px;
    /*background-color: rgb(36, 36, 36);*/
    text-align: right;
    line-height: 90px;
    padding: 5px;
}

nav {
    /*background-color: salmon;*/
    height: fit-content;
}

nav > a {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

div.profile-pic {
    float: right;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    background-image: url('assests/cat.png');
    background-size: cover;
    border: 5px solid rgb(52, 52, 52);
}

section {
    height: calc(100vh - 90px - 30px);
}

section p {
    text-align: center;
    /*margin-top: 150px;*/
    font-size: 84px;
}

span.one{
    color: salmon;

}

span.two{
    color: rgb(72, 158, 65);
}

span.three{
    color: rgb(58, 79, 183);
}

span.four{
    color:yellow;
}

span.five{
    color: red;
}

section form{
   /*background-color: salmon;*/
    width: 40%;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 30px;
}

section form input[type=text] {
    height: inherit;
    width: 84%;
    /*background-color: rgb(52, 52, 52);*/
    border: none;
    outline: none;
    font-size: 18px;
}

section form input[type=submit] {
    height: 90%;
    float: right;
    /*width: 15%*/
    border: none;
    background-color: white;
    font-size: 20px;

}
footer {
    height: 10px;
    /*background-color: aqua;*/
}

footer p {
    text-align: center;
    font-size: 12px;
}